* {
  padding: 0%;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.navbarcolor {
  background-color: #faedcd;
}
.text-hover:hover {
  color: rgb(221, 97, 97);
}
.scroll-style-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-style-none::-webkit-scrollbar {
  width: 0;
}
.accordion-min-height {
  max-height: 500px;
  overflow-y: scroll;
}
.dashboard-bg-image {
  background: url(./images/dashboardBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}
.min-height {
  min-height: calc(100vh - 3px);
  /* height: 5000px; */
}
.calculator {
  box-shadow: 0 0 18px rgba(0, 0, 0,  0.66);
}
@media (max-width: 991px) {
  .setting {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 575.9px) {
  .footer-col {
    flex-direction: column-reverse;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .footer-col {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 792.9px) {
  .footer-col {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .footer-col {
    flex-direction: column-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .text-lg {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .text-lg {
    font-size: 70px;
  }
}
/* Media Query End  */
